
<header id="masthead" class="site-header" role="banner">
	<div id="innerheader">
		<a class="home-link" href="/" title="Slice Works Pizza" rel="home">
			<img src="http://sliceworkspizza.com/wp-content/themes/slice/images/logo.png">
		</a>
		<div id="navbar" class="navbar">
			<nav id="site-navigation" class="navigation main-navigation" role="navigation">
				<div class="menu-main-menu-capitol-hill-container"><ul id="menu-main-menu-capitol-hill" class="nav-menu"><li id="menu-item-6" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6"><a href="/capitol-hill">Capitol Hill</a></li>
					<li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="/menu">Menus</a></li>
					<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="/catering">Catering</a></li>
					<li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="/locations">Locations</a></li>
					<li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="/contact-us">Contact Us</a></li>
				</ul></div>				
			</nav><!-- #site-navigation -->
		</div><!-- #navbar -->
	</div>
</header><!-- #masthead -->



<div id="outercontent">
	<div id="main" class="site-main">

		<div id="primary" class="content-area">
			<div id="content" class="site-content" role="main">


				<article id="post-33" class="post-33 page type-page status-publish hentry">
					<header class="entry-header">
						<h1 class="entry-title">Gift Cards</h1>
					</header><!-- .entry-header -->

					<div class="entry-content">
					</div><!-- .entry-content -->
					<div class="sidepics">
					</div>
					<div style="clear: both"></div>
				</article><!-- #post -->


			</div><!-- #content -->
		</div><!-- #primary -->


	</div><!-- #main -->
	<div id="city"></div>
</div><!-- #outercontent -->
<footer id="colophon" class="site-footer" role="contentinfo">
	<div id="innerfooter">
		<div id="testimonial">
			<span class="bqstart">&#8220;</span>
			<p>Sliceworks is an amazing local business which has been very supportive of the Greater Capitol Hill community since it  opened next to Argonaut.</p>

			<div style="clear: both"></div>
		</div>
		<div id="award"><img src="http://sliceworkspizza.com/wp-content/themes/slice/images/winner.png" /></div>
		<div id="socialmedia">
			<h3><span>Connect</span></h3>
			<a href="http://www.yelp.com/biz/sliceworks-denver" class="yelp"></a>
			<a href="https://foursquare.com/v/sliceworks-pizza/4ebf2071f9f4d3ffc2dfee9e" class="foursquare"></a>
			<a href="http://www.facebook.com/pages/SliceWorks-Pizza/217416284992656" class="facebook"></a>
			<a href="http://twitter.com/SliceworksPizza" class="twitter"></a>
			<br />
			<span id="copy">&copy; SliceWorks. All Right Reserved.
				<br />
				&nbsp;&nbsp;Web Design By: <a href="http://www.eye9design.com" target="_blank">Eye9 Design</a>
			</span>
		</div>
		<div style="clear: both"></div>
		<div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="/capitol-hill">Capitol Hill</a></li>
			<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39"><a href="/menu">Menus</a></li>
			<li id="menu-item-38" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="/catering">Catering</a></li>
			<li id="menu-item-37" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37"><a href="/locations">Locations</a></li>
			<li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-33 current_page_item menu-item-35"><a href="/gift-cards">Gift Cards</a></li>
			<li id="menu-item-36" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a href="/contact-us">Contact Us</a></li>
		</ul></div>				<div style="clear: both"></div>
	</div>
</footer><!-- #colophon -->
</div><!-- #page -->
