<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=false, initial-scale=1.0">
  <title>Slice Works Pizza | eat.drink.relax</title>
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <link rel="pingback" href="http://sliceworkspizza.com/xmlrpc.php">
  <meta name='robots' content='noindex,nofollow' />
  <link rel="alternate" type="application/rss+xml" title="Slice Works Pizza &raquo; Feed" href="http://sliceworkspizza.com/feed/" />
  <link rel="alternate" type="application/rss+xml" title="Slice Works Pizza &raquo; Comments Feed" href="http://sliceworkspizza.com/comments/feed/" />
  <link rel='stylesheet' href='/style.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/styles.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/genericons.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/thickbox.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/fonts.css' type='text/css' media='all' />
  <link rel='stylesheet' href='/form_input_style.css' type='text/css' media='all' />

  <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://sliceworkspizza.com/xmlrpc.php?rsd" />
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://sliceworkspizza.com/wp-includes/wlwmanifest.xml" />
  <link rel='prev' title='Happy Hour' href='http://sliceworkspizza.com/capitol-hill/menu/happy-hour/' />
  <link rel='next' title='LODO' href='http://sliceworkspizza.com/lodo/' />
  <meta name="generator" content="WordPress 3.7.1" />
  <link rel='canonical' href='http://sliceworkspizza.com/' />
  <link rel='shortlink' href='http://sliceworkspizza.com/?p=142' />
</head>

<body class="home page page-id-142 page-template page-template-page-splash-php single-author">
  <%= yield %>

</body>
</html>
